%%% -*-mode:erlang;coding:utf-8;tabidth,:4;c-basic-offset:4;indent-tabs-mode:()-*-
%%% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et:
%%%
[
    {sasl, [
        {errlog_type, error},
        {error_logger_mf_dir, false}
    ]},
    {lager, [
        {colored, true},
        {handlers, [
            {lager_console_backend, [debug,
                {lager_default_formatter, ["[", date, " ", time, "] severity=", severity, " node=\"", {node, "undefined"}, "\" pid=\"", pid,
                    "\" module=", {module, "gen_rpc"}, " function=", {function, "undefined"}, " ", message, "\n"]}
            ]}
        ]}
    ]}
].
