%%% -*-mode:erlang;coding:utf-8;tabidth,:4;c-basic-offset:4;indent-tabs-mode:()-*-
%%% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et:
%%%

%%% Require OTP 17.0 at a bare minimum
{require_min_otp_vsn, "17"}.

{erl_opts, [{warn_format, 1},
    {parse_transform, lager_transform},
    {lager_truncation_size, 8192},
    bin_opt_info,
    inline_list_funcs,
    debug_info,
    warnings_as_errors,
    report_warnings,
    stong_validation,
    % warn_missing_spec, % Only enable it if the project is complete, spec-wise
    warn_untyped_record,
    warn_export_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warn_deprecated_function,
    warn_unused_vars,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_exported_vars
]}.

{deps, [
    {lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}}
]}.

{profiles, [{test, [
    {deps, [
        {meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
    ]}]}
]}.

{dialyzer_plt, "gen_rpc.plt"}.
{dialyzer_base_plt_apps, [asn1, compiler, crypto, edoc, erts, eunit, inets, kernel, mnesia, public_key, ssl, stdlib, syntax_tools, tools, xmerl]}.
{dialyzer_plt_apps, [gen_rpc]}.
{dialyzer_plt_warnings, true}.
{dialyzer_base_plt, "base.plt"}.
{dialyzer_warnings, [no_return, no_unused, no_improper_lists, no_fun_app, no_match, no_opaque, no_fail_call,
                     no_contracts, no_behaviours, no_undefined_callbacks, unmatched_returns, error_handling,
                     race_conditions, overspecs, underspecs, specdiffs]}.
